@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Instructor;


<h2>Update Instructor</h2>


<form method="post" asp-action="UpdateInstructor" asp-controller="Instructor" class='p-2 row gx-3 gy-2 align-items-center'>
    <div class="form-group">
        <label asp-for="InstructorFirstName"></label>
        <input asp-for= "InstructorFirstName" class="form-control" asp-for="InstructorFirstName" />
    </div>
    <div class="form-group">
        <label asp-for="InstructorLastName"></label>
        <input asp-for="InstructorLastName" class="form-control" asp-for="InstructorLastName" />
    </div>
    <div class="form-group">
        <label asp-for="InstructorEmail"></label>
        <input asp-for="InstructorEmail" class="form-control" asp-for="InstructorEmail" />
    </div>
    <div class="form-group">
        <label class="input-group-text" asp-for="IsTenured"></label>
        <input asp-for="IsTenured" class="form-check-input" asp-for="IsTenured">

    </div>
    <div class="form-group">
        <label class="input-group-text" asp-for="Rank"></label>
        <select asp-for="Rank" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(Rank))" asp-for="Rank">
        </select>

    </div>
    <div class=" form-group">
        <label asp-for="HiringDate"></label>
        <input asp-for="HiringDate" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary p-20">Submit</button>

</form>